body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 200px;
    padding: 30px 0;
  }
  
  .pen {
    display: flex;
    width: 25px;
    height: 25px;
    background: rgba(210, 210, 210, 0.4);
    border-radius: 50%;
    padding: 5px;
    align-items: center;
    justify-content: center;
  }
  .line1 {
    border-bottom: 2px solid #545454;
    transform: rotate(-45deg);
    width: 15px;
    position: absolute;
    top: 57px;
    left: -48px;
  }
  
  .line2 {
    border-bottom: 2px solid #545454;
    width: 80px;
    position: absolute;
    /* bottom: 1px; */
    top: 62px;
    left: -45px;
  }
  .name {
    display: flex;
    padding: 0 20px;
  }
  .name img {
    padding-right: 10px;
  }
  .user {
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    color: #074f63;
  }
  .dev {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #808080;
  }
  .hire {
    width: 125px;
    height: 32px;
    background: #d93f1d;
    color: #fff;
    border-radius: 80px;
    border: none;
    font-size: 15px;
    line-height: 20px;
  }
  
  section {
    margin: 0 250px;
  }
  
  .main-title {
    display: flex;
    justify-content: space-between;
    font-size: 48px;
    line-height: 56px;
    color: #074f63;
  }
  
  .title {
    display: flex;
    justify-content: space-between;
    font-size: 36px;
    line-height: 42px;
    margin: 30px 0;
    color: #074f63;
  }
  .category span {
    font-size: 14px;
    line-height: 16px;
    color: #8fadb5;
    margin-right: 10px;
  }
  
  .main-content {
    font-size: 18px;
    line-height: 21px;
    color: #808080;
  }
  .description {
    margin-top: 50px;
  }
  .description ul li {
    padding-bottom: 15px;
    font-size: 18px;
    line-height: 21px;
    color: #808080;
  }
  .features-card {
    position: relative;
    margin: 0 60px;
  }
  .features-content {
    position: absolute;
    top: 0;
    margin: 0 100px;
    padding-top: 40px;
    border-bottom: 2px solid #7da1ab;
  }
  .features-content p:nth-child(1) {
    background: rgba(7, 79, 99, 0.5);
    color: #fff;
    padding-left: 50px;
    font-size: 24px;
    padding: 10px 0px 10px 100px;
    text-align: center;
  }
  .features-content p:nth-child(2) {
    padding: 0px 80px 0px 300px;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    color: #808080;
  }
  
  .features-content1 {
    display: none;
  }
  .features-content2 p:nth-child(1) {
    padding: 0px 80px 0px 300px;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    color: #808080;
  }
  .team {
    display: flex;
    margin: 0px 95px 60px 95px;
    justify-content: space-between;
  }
  .team-card {
    position: relative;
    border: 1px solid #074f63;
    padding: 20px 20px 0px 0px;
  }
  
  .team .team-card img {
    width: 100%;
    height: 100%;
  }
  
  .team .team-card span {
    position: absolute;
  }
  
  .team .team-card .team-card1 {
    top: -10px;
    left: 30px;
    width: 130px;
    text-align: center;
    background: #fff;
    color: #074f63;
  }
  
  .team .team-card .team-card2 {
    bottom: 80px;
    right: -65px;
    transform: rotate(90deg);
    width: 130px;
    text-align: center;
    background: #fff;
    color: #074f63;
  }
  
  .concact {
    display: flex;
    justify-content: space-between;
    margin: 0px 95px 60px 95px;
  }
  
  .concact1 {
    width: 45%;
    padding: 30px;
    background: #ffffff;
    box-shadow: -4px 4px 12px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
  }
  
  .concact-info {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .concact-info span {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #545454;
    padding-left: 10px;
  }
  
  .concact-link {
    display: flex;
    align-items: center;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    padding: 10px;
    margin: 10px 0px;
  }
  .concact-link span {
    padding-left: 10px;
  }
  footer {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    background: #007893;
    color: #fff;
    font-size: 20px;
  }
  .name1 {
    display: none;
    margin: 20px;
  }
  
  .name1 img {
    padding-right: 10px;
  }
  .end {
    text-align: end;
  }
  .p1 {
    padding: 10px 100px 10px 0px;
  }
  .p2 {
    padding: 0px 300px 0px 80px;
    margin-left: -100px;
    margin-right: 140px;;
    text-align: left;
  }
  @media only screen and (max-width: 768px) {
    header {
      margin: 0px 70px;
    }
    header .name {
      display: none;
    }
    .hire {
      margin-left: 100px;
    }
    .name1 {
      display: flex;
    }
    section {
      margin: 0 20px;
    }
    .features-card {
      margin: 0;
    }
    .features-content {
      margin: 0;
      border-bottom: none;
    }
    .features-content p:nth-child(1) {
      display: none;
    }
    .features-content p:nth-child(2) {
      padding: 100px 20px 0px 330px;
    }
    .end {
      text-align: inherit;
      margin-left: 15px;
    }
    .features-content1 {
      display: block;
      width: 280px;
    }
    .features-content1 p:nth-child(1) {
      background: rgba(7, 79, 99, 0.5);
      color: #fff;
      font-size: 24px;
      padding: 10px;
      margin-left: 33px;
      text-align: center;
    }
    .p1 {
      padding: 0;
    }
    .p2 {
      padding: 0;
    }
    .team {
      margin: 10px;
    }
    .concact {
      margin: 10px;
    }
    footer {
      display: block;
      padding: 20px;
    }
  }
  @media only screen and (max-width: 576px) {
    header {
      justify-content: space-between;
    }
    .features-content {
      /* position: relative; */
      padding: 0;
    }
    .features-content p:nth-child(2) {
      padding: 0px 50px;
      padding-top: 50px;
    }
    .features-card img {
      padding-top: 60px;
    }
    .team {
      display: block;
    }
    .team-card {
      margin-bottom: 40px;
    }
    .concact {
      display: block;
    }
    .concact1 {
      width: auto;
    }
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 20px auto;
    padding: 20px;
    background: #F3F3F3;
    border-radius: 5px;
    width: 50%;
    position: relative;
    transition: all 0.1s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: 'Manjari', sans-serif;
    font-style: normal;
    Font-size: 24px;
    font-weight: 700;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
    font-family: 'Manjari', sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 600;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }
  
  .popup .box-x {
    box-sizing: border-box;
    background: #F3F3F3;
    border: 1px solid #AEAEAE;
    border-radius: 4px;
    height: 28px;
    display: flex;
    align-items: flex-end;
    font-family: 'Manjari', sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    margin-bottom: 10px;
  }
  input {
    padding-top:10px;
    padding-bottom: 6px;
    padding-left: 10px;
  }
  
  .popup .tag {
    width: 100%;
    color: #0ecbf6;
    margin-bottom: 40px;
  }
  
  .popup .tag-g {
    font-size: 12px;
    border-radius: 30px;
    background-color: white;
    padding: 3px 5px 3px 3px;
    margin-right: 5px;
  }
  
  .popup .x {
    color: #d93f1d;
    margin-left: 5px;
    text-decoration: none;
  }
  
  .popup .box-xx {
    box-sizing: border-box;
    background: #F3F3F3;
    border: 1px solid #AEAEAE;
    border-radius: 4px;
    height: 114px;
    display: flex;
    align-items: flex-end;
    font-family: 'Manjari', sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
  }
  
  .textttt {
    width: 100%;
  
    text-align: right;
    margin-top: -30px;
    color: #18C4EE;
  }
  
  .popup .input-input-1 {
    box-sizing: border-box;
    background: #F3F3F3;
    border: 1px solid #AEAEAE;
    border-radius: 4px;
    height: 28px;
    font-family: 'Manjari', sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    width: 68%;
    margin-bottom: 10px;
  }
  
  .popup .input-input-2 {
    box-sizing: border-box;
    background: #F3F3F3;
    border: 1px solid #AEAEAE;
    border-radius: 4px;
    height: 28px;
    font-family: 'Manjari', sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    width: 150px;
    padding-top: 4px;
    padding-left: 6px;
    margin-bottom: 10px;
  }
  
  .popup .remove {
    margin-left: 10px;
    text-decoration: none;
    color: #18C4EE;
  }
  
  .popup .content_1 {
    max-height: 30%;
    overflow: auto;
    font-family: 'Manjari', sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 50px;
  }
  
  .popup .Add {
    text-decoration: none;
    color: #18C4EE;
  }
  .popup .closess {
    text-decoration: none;
    font-size: 16px;
    margin-top: 7px;
  }
  
  .popup .posion {
    display: flex;
    justify-content: right;
    margin-bottom: 20px;
  }
  
  .popup .save {
    color: #F3EEEE;
    text-decoration: none;
    box-sizing: border-box;
    background: #18C4EE;
    border-radius: 4px;
    padding: 7px 15px;
    margin-left: 20px;
  }
  
  .popup .box-xxx {
    box-sizing: border-box;
    background: #F3F3F3;
    border: 1px solid #AEAEAE;
    border-radius: 4px;
    height: 180px;
    display: flex;
    align-items: flex-end;
    font-family: 'Manjari', sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 40px;
  }
  
  .imagess {
    width: 60%;
  }
  
  .double_img {
    width: 260px;
    height: 230px;
  }
  
  
  .double {
    padding-left: 30px;
    padding-top: -200px;
    display: inline-block;
  }
  
  
  .popup .box_x {
    box-sizing: border-box;
    background: #F3F3F3;
    border: 1px solid #AEAEAE;
    border-radius: 4px;
    height: 28px;
    font-family: 'Manjari', sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    width:180%;
  
  }
  
  .popup .double h2 {
    margin-bottom: -18px;
    font-size: 20px;
  }
  
  .popup .box_xx {
    box-sizing: border-box;
    background: #F3F3F3;
    border: 1px solid #AEAEAE;
    border-radius: 4px;
    height: 100px;
    font-family: 'Manjari', sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    width:180%;
    margin-top: 10px;
  }
  
  .popup .posion a {
    font-size: 15px;
  }
  
  .popup .saves {
    color: #F3EEEE;
    text-decoration: none;
    box-sizing: border-box;
    background: #18C4EE;
    border-radius: 4px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    margin-left: 20px;
  }
  
  .popup .content_2 {
    max-height: 30%;
    overflow: auto;
    font-family: 'Manjari', sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
  }
  
  .popup .Namess {
    color: #18c4ee;
  }

  .popup .Summarry {
    color:  #18c4ee;
  }

  .popup .imggg {
    width: 100%;
  }

  .popup .pattie {
    padding-top: 20px;
  }